
a {
    text-decoration: none;
}

code code {
    font-size: 1rem;
}

.main {
    position: relative;
}

code {
    font-size: 0.7em;
}

    code.black {
        color: #333;
    }

    code .black {
        color: #333;
    }

    code p {
        margin: 8px 0;
    }



    #status-websocket {
        max-width: 900px;
        text-align: center;
        font-size: 1em;
    }

    #ord-control-status .open {
        display: none;
    }

    #ord-control-status.open .open {
        display: inline-block;
        margin-bottom: 4px;
    }

    #ord-control-status.open .reconnecting {
        display: none;
    }

    #ord-control-status.reconnecting .reconnecting {
        display: inline;
        animation: blinker 3s linear infinite;
    }

    #ord-control-status.reconnecting .open {
        display: none;
    }


    #ord-indexing-service-status .restart {
        display: none;
    }

    #bitcoind-status .start {
        display: none;
    }

    #bitcoind-status .stop {
        display: none;
    }

    #bitcoind-status.restarting .restart {
        display: none;
    }
