
.main {
    position: relative;
}

code {
    font-size: 0.7em;
}

    code.black {
        color: #333;
    }

    code .black {
        color: #333;
    }

    code p {
        margin: 8px 0;
    }



    #status-websocket {
        max-width: 900px;
        text-align: center;
        font-size: 1em;
    }

    #status-websocket .open {
        display: none;
    }

    #status-websocket.open .open {
        display: inline;
    }

    #status-websocket.open .reconnecting {
        display: none;
    }

    #status-websocket.reconnecting .reconnecting {
        display: inline;
        animation: blinker 3s linear infinite;
    }

    #status-websocket.reconnecting .open {
        display: none;
    }


    #ord-indexing-service-status .restart {
        display: none;
    }

    #bitcoind-status .start {
        display: none;
    }

    #bitcoind-status .stop {
        display: none;
    }

    #bitcoind-status.restarting .restart {
        display: none;
    }
