
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.blink {
    animation: blinker 4s linear infinite;
}

.blink-slow {
    animation: blinker 6s linear infinite;
}

/* e.g. #ord-wallet */
.status-container {

}
    .status-container h4 {
        text-align: center;
    }

    .status-container .control {
        text-align: right;
    }

    #ord-wallet-new {
        margin: 8px 0 0 8px;
    }

    .status-container .icon-btn {
        font-size: 0.8em;
        text-decoration: none;
    }

        .status-container .icon-btn span {
            vertical-align: bottom;
        }

        .status-container .icon-btn span:nth-child(2) {
            vertical-align: center;
        }

    .status-container.waiting .waiting-hide {
        display: none;
    }

    .status-container.waiting .card {
        text-align: center;
        animation: blinker 1s linear infinite;
    }

        .status-container .card-body {
            max-height: 350px;
            overflow-y: scroll;
        }

        #ord-inscriptions {
            margin-top: 20px;
        }

    /* ord-control status */
    #ord-control-status .built {
        display: none;
    }

    #ord-control-status.finished .building {
        display: none;
    }

    #ord-control-status.finished .built {
        display: block;
    }

    #ord-control-status.finished .card-body {
        max-height: 82px;
    }