
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.blink {
    animation: blinker 4s linear infinite;
}

.blink-slow {
    animation: blinker 6s linear infinite;
}

#ord-wallet {
    position: relative;
}

    #ord-wallet .create {
        margin: 10px 0 0 10px;
    }

    #ord-wallet .show-if-exists {
        display: none;
    }

    #ord-wallet .show-seed {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #ord-wallet .disable {
        display: none;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    #ord-wallet.exists .create {
        display: none;
    }

    #ord-wallet.exists .show-if-exists,
    #ord-wallet.exists .disable {
        display: inline;
    }

    #ord-wallet .spent {
        text-decoration: line-through;
    }

.status-container {

}
    .status-container h4 {
        text-align: center;
    }

    .status-container .control {
        text-align: right;
    }

    #ord-wallet-new {
        margin: 8px 0 0 8px;
    }

    .status-container .icon-btn {
        font-size: 0.8em;
        text-decoration: none;
    }

        .status-container .icon-btn span {
            vertical-align: bottom;
        }

        .status-container .icon-btn span:nth-child(2) {
            vertical-align: center;
        }

    .status-container.waiting .waiting-hide {
        display: none;
    }

    .status-container.waiting .card {
        text-align: center;
        animation: blinker 1s linear infinite;
    }

        .status-container .card-body {
            max-height: 350px;
            overflow-y: scroll;
        }

        #ord-inscribed-content {
            margin-top: 20px;
        }

    /* ord-control status */
    .status-container .built {
        display: none;
    }

    .status-container.finished .building {
        display: none;
    }

    .status-container.finished .built {
        display: block;
    }

    #ord-control-status.finished .card-body,
    .finished #ord-indexing-service-status-content {
        max-height: 82px;
    }

    #ord-addresses .icon-btn span:nth-child(2) {
        font-size: 1.4em;
    }
