[Unit]
Description=Bitcoin daemon
Documentation=https://github.com/bitcoin/bitcoin/blob/master/doc/init.md
# https://www.freedesktop.org/wiki/Software/systemd/NetworkTarget/
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/bitcoin/bin/bitcoind -txindex -pid=/mnt/bitcoin-ord-data/bitcoin/bitcoind.pid -conf=/etc/bitcoin/bitcoin.conf -datadir=/mnt/bitcoin-ord-data/bitcoin --daemon
Type=forking
Restart=on-failure
TimeoutStartSec=infinity
TimeoutStopSec=600
User=ubuntu
Group=ubuntu
PrivateTmp=true
ProtectSystem=full
RuntimeDirectoryMode=0710

[Install]
WantedBy=multi-user.target