[Unit]
Description=OrdServer Controller
Documentation=https://github.com/kvnn/OrdServer/blob/master/README.md
After=network-online.target
Wants=network-online.target

[Service]
Environment=AWS_METADATA_SERVICE_NUM_ATTEMPTS=6 AWS_METADATA_SERVICE_TIMEOUT=2
ExecStart=/usr/bin/python3 /home/ubuntu/OrdServer/controller.py
Type=idle
Restart=on-failure
User=ubuntu
Group=ubuntu

[Install]
WantedBy=multi-user.target